@import "vendor/bootstrap/bootstrap/variables";
@import "variables";

.tab-pane {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;

  .container {
    display: flex;
    justify-content: center;

    .tab-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      &:first-child {
        width: 50%;
        padding-right: 50px;

        @media all and (max-width: $screen-md-min) {
          width: 100%;
          margin-bottom: 50px;
          padding-right: 0;
        }
      }
    }

    @media all and (max-width: $screen-md-min) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

.question {
  margin: 40px 0;
  margin-bottom: 20px;
}

.tabs-wrapper {
  margin-top: 0;
}

.headline-container {
  padding: 40px 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    max-width: 600px;
    text-align: center;
  }
}
